@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  height: 100vh;
  width: 100%;
}
@layer base {
  :root {
    --skeleton-base-color: #e0e0e0;
    --skeleton-highlight-color: #f0f0f0;
    --background: #fcfcfc;
    --foreground: #232323;

    --card: #ffffff;
    --card-foreground: #232323;

    --popover: #ffffff;
    --popover-foreground: #232323;

    --primary: #637c8f;
    --primary-foreground: #f8fafc;

    --orange: #f17f0e;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --muted: #f4f4f5;
    --muted-foreground: #71717a;

    --accent: #64748b;
    --accent-foreground: #0f172a;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --sidebar-hover: #383838;
    --light-hover: #f9f9f9;
    --dark-icon-hover: #fff7ec;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #232323;
    --app-header-box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    --radius: 0.5rem;

    --radius: 0.5rem;
  }

  .dark {
    --skeleton-base-color: #333;
    --skeleton-highlight-color: #444;
    --background: #353333;
    --foreground: #fcfcfc;

    --card: #ffffff;
    --card-foreground: #232323;

    --popover: #ffffff;
    --popover-foreground: #232323;

    --primary: #f17f0e;
    --primary-foreground: #f8fafc;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --muted: #bdc1c5;
    --muted-foreground: #64748b;

    --accent: #64748b;
    --accent-foreground: #0f172a;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --sidebar-hover: #383838;
    --light-hover: #f9f9f9;
    --dark-icon-hover: #fff7ec;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #232323;
    --app-header-box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    --radius: 0.5rem;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground !pr-0;
  }

  .app-container {
    @apply max-w-[1350px] m-auto w-full px-4 md:px-8;
  }
  .custom-file-uploader {
    @apply w-24 h-28 flex flex-col items-center justify-center pt-7 !important;
  }
  /* this is for the react-phone-input-2 */
  .custom-phone-input {
    @apply dark:bg-background w-full h-10 pr-4 pl-16 py-2 rounded-md  border-2  !important;
  }
  .custom-phone-input + .flag-dropdown .selected-flag {
    @apply dark:bg-background !important;
  }
  .custom-phone-input + .flag-dropdown .country-list {
    @apply dark:bg-background !important;
  }
  .custom-phone-input + .flag-dropdown .country-list li {
    @apply dark:hover:bg-neutral-700 !important;
  }
  .custom-phone-input + .flag-dropdown .country-list .country.highlight {
    @apply dark:bg-neutral-700 !important;
  }

  /* this is for the react-select */
  .my-react-select-container .my-react-select__control {
    @apply bg-white dark:bg-background border-2 dark:border-2 dark:border-white border-neutral-300  hover:border-neutral-400 dark:hover:border-neutral-500;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-neutral-100 dark:bg-background border-2 border-neutral-300 dark:border-neutral-600;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-background dark:hover:bg-neutral-800;
  }

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-neutral-400;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
  }
  .my-react-select__menu-list {
    @apply bg-red-500 dark:bg-black;
  }
}

.sidenav-icon [fill='darkgray'] {
  fill: #7f8194;
  transition: fill 0.2s ease-in-out;
}

.sidenav-icon:hover [fill='darkgray'] {
  fill: #ffffff;
}

.sidenav-icon.active-icon [fill='darkgray'] {
  fill: #ffffff;
}

.dark-icon [fill='darkgray'] {
  fill: #7f8194;
  transition: fill 0.2s ease-in-out;
}

.dark-icon:hover [fill='darkgray'] {
  fill: var(--primary);
}
.dark-icon.active-icon [fill='darkgray'] {
  fill: var(--primary);
}

.animation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  animation: containerFadeIn 20s linear infinite;
}
@keyframes containerFadeIn {
  0% {
    opacity: 0;
    background-color: #fff;
  }
  30% {
    opacity: 1;
    background-color: lightgray;
  }
}

.animation-container .imgBox img {
  width: 90%;
  margin: auto;
  object-fit: contain;
}
.animation-container .progressBar {
  position: relative;
  width: 320px;
}
.animation-container .progressBar span {
  position: absolute;
  width: 0;
  height: 8px;
  background-color: #e74f4b;
  animation: progressBar 10s linear infinite;
  animation-fill-mode: forwards;
}
@keyframes progressBar {
  0% {
    width: 0;
    opacity: 0;
  }
  30% {
    width: 0;
    opacity: 1;
  }
  50% {
    width: 30%;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
.animation-container .titleBox {
  font-size: 2em;
  font-weight: 100;
  padding-top: 20px;
  animation: titleFadeIn 10s linear infinite;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
  }
  50%,
  100% {
    font-weight: 400;
    opacity: 1;
  }
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

/* -------------------------------------------------------------------------
  VERTICAL STEPPERS
-------------------------------------------------------------------------- */

/* Steps */
.step {
  position: relative;
  min-height: 4em;
  color: grey;
}
/* .step + .step {
  margin-top: 1.9rem
} */
.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}
.step.step-active {
  color: #4285f4;
  background-color: #d3d3d3b3;
}
/* .step.step-active .circle {
  background-color: transparent;
  border: 1px solid  #4285f4;

} */

/* Circle */
.circle {
  background: #0069b4;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
} /* Circle */
.step.step-incomplete .circle {
  background: transparent;
  border-color: gray;
  border-width: 1px;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
}

/* Vertical Line */
.circle:after {
  content: ' ';
  position: absolute;
  display: block;
  top: 10px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 60%;
  width: 2px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: #0069b4;
  z-index: 1;
}
.step.step-active .circle:after,
.step.step-incomplete .circle:after {
  content: ' ';
  position: absolute;
  display: block;
  top: 10px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 60%;
  width: 2px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: gray;
  z-index: 1;
}
.step:last-child .circle:after {
  display: none;
}

.step:first-child .circle:after {
  height: 60%;
  z-index: 1;
}

/* Stepper Titles */
.title {
  line-height: 1.5em;
  font-weight: bold;
}
.caption {
  font-size: 0.8em;
}
/* .ql-container {
  height: auto !important;
  min-height: 100px !important;
} */
.ql-container.ql-snow {
  height: auto;
}
.ql-editor {
  height: 150px;
  overflow-y: scroll;
}

.ql-toolbar.ql-snow {
  position: sticky;
  top: -25px;
  background: white;
  z-index: 99999;
}

#overview .ql-toolbar.ql-snow {
  position: sticky;
  top: 0px;
  background: white;
  z-index: 99999;
}
.ql-size-small {
  font-size: 10px;
}
.ql-size-normal {
  font-size: 13px;
}
.ql-size-large {
  font-size: 18px;
}
.ql-size-huge {
  font-size: 32px;
}
.ql-size-xx-large {
  font-size: 40px;
}
.ql-size-xxx-large {
  font-size: 48px;
}

.scaleImage {
  animation: scaleUp 10s ease-in-out infinite; /* 5 seconds for smooth scaling */
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.scaleImage1 {
  animation: scaleUp1 5s ease-in-out infinite; /* 5 seconds for smooth scaling */
}

@keyframes scaleUp1 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.scaleImage2 {
  animation: scaleUp2 5s ease-in-out infinite; /* 5 seconds for smooth scaling */
}

@keyframes scaleUp2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.scaleImage3 {
  animation: scaleUp3 5s ease-in-out infinite; /* 5 seconds for smooth scaling */
}

@keyframes scaleUp3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.head-after:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 10px;
  height: 4px;
  background-color: #ed1c24;
}
.head-after:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background-color: #ed1c24;
}

.counter-item {
  position: relative;
  padding-bottom: 30px;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
}
.counter-icon {
  float: left;
  margin-right: 30px;
}
.mdi-rotating-bg {
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}
.mdi-rotating-bg.rotating-bg-light {
  background-color: rgba(255, 255, 255, 0.1);
}

.mdi-rotating-bg {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
  width: 100px;
  height: 100px;
  background-color: #eee;
  z-index: -1;
  animation: rotating 10s linear infinite;
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.customTable .table-bordered {
  border: 1px solid #dee2e6;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}
.table-bordered thead th {
  border-bottom-width: 2px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

.inputBox input,
.inputBox textarea {
  width: 100% !important;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #a5a5a5;
  outline: none;
}

textarea {
  min-height: 120px;
}

.inputBox span {
  position: absolute;
  left: 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #a5a5a5;
  transition: 0.5s;
  pointer-events: none;
}

.inputBox input:focus,
.inputBox textarea:focus {
  border-bottom-color: #ed1c24;
  transition: 0.8s;
}

.inputBox input:focus ~ span,
.inputBox textarea:focus ~ span,
.inputBox input:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ed1c24;
}
